[Unit]
Description=Rapido Autorun and Bash Shell
DefaultDependencies=no
OnFailure=poweroff.target

[Service]
WorkingDirectory=/
Type=idle
# pass through env set by rapido-init
PassEnvironment=DRACUT_SYSTEMD HOSTNAME PATH PS1 RAPIDO_INIT TERM STTY_RC

ExecStart=bash --rcfile /rapido.rc -i
# Signal that systemd should shutdown on bash exit
ExecStop=kill -SIGRTMIN+4 1
StandardInput=tty
StandardOutput=tty
StandardError=tty
